@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --t_color: #333;
    --f_size: 14px;
    --m_color: rgb(0, 124, 193);
}

body {font-family: "Noto Sans KR", sans-serif; font-size: var(--f_size); color: var(--t_color);}
ul, ol, li {list-style: none;}
a {color: var(--t_color); font-size: var(--f_size);}
.nav >  li > a > i.fa {padding-right: 5px;}
.nav  > li > a:hover, .nav > li > a:focus {background: none;}

main {padding: 15px 0px;}
article {background-color: #0058A2; width: 100%;}
article > div {width: 1000px; margin: 0 auto;}
section {padding: 10px 0px;}

.slide img {height: 60vh;}

.title {color:var(--m_color); font-size: 18px; text-transform: uppercase; text-align: center; font-weight: 600; position: relative;}
.title:before {content: ''; display: block; height: 1px; width: 100%; background-color: var(--m_color); position: absolute; top: 10px; left: 0px;}
.title > span {background-color: #fff; position: relative; padding: 0px 12px;}
.category-products .panel {border: none; background-color: #fff;box-shadow: none;}
.panel a:hover {color: var(--t_color);}
.panel-group {border: 1px solid var(--m_color); border-radius: 5px;}
.category-products .panel-default .panel-heading {background-color: #fff; border: 0 none; padding: 5px 20px;}
.category-products .panel-default .panel-heading .panel-title a {color: #696763; font-size: 14px; text-transform: uppercase;}

.product-overlay {border: 1px solid #f7f7f7; overflow: hidden; margin-bottom: 30px;}
.single-products {position: relative;}
.new, .sale {position: absolute; top: 0px; right: 0px;}
.productinfo h2 {color: var(--m_color); font-size: 24px; font-weight: 700;}
.product-overlay h2 {color: #fff; font-size: 24px; font-weight: 700;}
.productinfo p {font-size: 14px; font-weight: 400; color: #696663;}
.productinfo img {width: 100%;}
.productinfo {position: relative;}
.product-overlay {background-color: rgba(0, 124, 193, .8); top: 0px; display: none; height: 0; position: absolute; -webkit-transition: height 500ms ease 0s; transition: height 500ms ease 0s; width: 100%; display: block;}
.single-products:hover .product-overlay {display: block; height: 100%;}
.product-overlay .overlay-content {bottom: 0px; position: absolute; text-align: center; width: 100%;}
.product-overlay .add-to-cart {background-color: #fff; border: 0 none; border-radius: 0; color: var(--m_color); font-size: 15px; margin-bottom: 25px;}
.product-overlay .add-to-cart:hover {color: #fff; background-color: var(--m_color);}
.product-overlay p {font-size: 14px; font-weight: 400; color: #fff;}
.add-to-cart {background-color: #f5f5ed; border: none; border-radius: 0px; color: #696663; font-size: 15px; margin-bottom: 25px;}

/*product_detail.php*/
.product_img {height: 300px;}
.view-product {position: relative;}
.view-product img {width: 100%; height: 380px; border: 1px solid #f7f7f0;}
#similar-product .carousel-inner .item {padding-left: 0px;}
#similar-product .carousel-inner .item img {display: inline-block; margin-left: 15px;}
.item-control {position: absolute; top: 35%;}
.item-control i {background-color: var(--m_color); color: #fff; font-size: 20px; padding: 5px 10px;}
.item-control i:hover {background-color: #ccccc6;}
.right {right: 0px;}
.product-information {border: 1px solid #f7f7f0; overflow: hidden; padding-bottom: 60px; padding-left: 60px; padding-top: 60px; position: relative;}
.newarrival {position: absolute; top: 0px; left: 0;}
.product-information h2 {color: #363432; font-family: "Roboto", sans-serif; font-size: 20px; margin-top: 0;}
.product-information p {color: #696763; font-family: 'Roboto', sans-serif; margin-bottom: 5px;}
.product-information span {display: inline-block; margin-bottom:8px; margin-top: 18px;}
.product-information span span {color: var(--m_color); float: left; font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 700; margin-right: 20px; margin-top: 0;}
.product-information span input {border: 1px solid #dededc; color: #696763; font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 700; height: 33px; outline: medium none; text-align: center; width: 50px;}
.product-information span label {color: #696763; font-family: 'Roboto', sans-serif; font-weight: 700; margin-right: 5px;}
.cart {background-color: var(--m_color); border: none; border-radius: 0; color: #fff; font-family: "Roboto", sans-serif; font-size: 15px; margin-bottom: 10px; margin-left: 10px; margin-top: 10px;}
.detail_text {padding-top: 500px;}

/*cart.php*/
thead {background-color: var(--m_color);}
thead > tr > td {color: #fff; font-weight: bold; text-indent: 10px;}

footer address {line-height: 60px !important; background-color: var(--t_color); color: #fff; text-align: center;}