@charset "utf-8";

/* main.css */
  .modal *{margin:0px;padding:0px;}
  .modal{
    width:100%;height:100%;
    background:rgba(0,0,0,.7);
    position:fixed;
    top:0px;left:0px;
    z-index:9999;
  }
  .modal_inner{
    width:380px;height:420px;
    position:absolute;
    left:50%;top:50%;
    transform:translate(-50%, -50%);
  }
  .modal_inner p{
    line-height:40px;
    background:#fff;
    text-indent:10px;
  }
  #c_btn{
    cursor:pointer;
    border:none;background:none;
    float:right;margin:10px 10px 0px 0px;
  }

/* 헤더서식 */
  header{
    width:100%;
    height:150px;
    position:absolute;
    top:0px;left:0px;
    z-index:1000;
  }
  header > h1{
    width:300px;
    position:absolute;
    left:3%;top:40px;
  }
  header > h1 img{
    width:100%;
  }

/* 내비게이션 서식 */
  .gnb{
    position:absolute;
    right:3%;top:60px;
  }
  .gnb > ul{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .gnb > ul > li{
    margin:0px 20px;
    position:relative;/*서브의 기준*/
    line-height:40px;
  }
  .gnb > ul > li > a{
    font-size:18px;
    color:#fff;
  }
  .sub{
    position:absolute;
    width:100%;
    border:1px solid #ccc;
    box-shadow:0px 1px 1px #ccc;
    border-radius:4px;
    padding:2px;
    background:#fff;
    display:none;
  }
  .sub > li{text-align:center;}
  .sub > li > a{
    font-size:14px;
    display:block;
    line-height:35px;
    transition:0.3s;
  }
  .sub > li:hover > a{
    background-color:#ff8900;
    color:#fff;
    text-decoration: none;
  }
  .gnb > ul > li:first-child .sub{
    width:150px;left:-45px;
  }
  .gnb > ul > li:nth-child(2) .sub{
    width:200px;left:-68px;
  }

/* 메인서식 */
  main{}
  #m_slide{
    height:90vh;
    border-bottom:3px solid #000;
    overflow:hidden;
    position:relative;
  }
  #m_slide > h2{
    display:none;
  }
  #m_slide > img{
    width:100%;
    position:absolute;
  }
  #m_slide > .v1{z-index:3;}
  #m_slide > .v2{z-index:2;}
  #m_slide > .v3{z-index:1;}

  .btn_group{
    position:absolute;
    left:100px;
    bottom:100px;
    z-index:100;
  }
  .btn_group img{
    background:#fff;
    padding:10px 4px;
    cursor:pointer;
  }

 /* 뉴스, 탭메뉴, 제품소개, 이벤트, 갤러리 */
  #news > article, #tab_con > article, #product > article, #event > article{
    width:1280px;height:800px;
    background:#ffff00;
    padding-top:100px;
    margin:40px auto;
  }
  section article > h2{
    font-size:30px;
    color:#333;
    padding:20px 30px;
  }

  /* 탭콘텐츠 서식 */
  #tab_con{
		background:#f1f1f1;
	}
	#tab_con h2{
		font-size:32px;
		font-weight:bold;
	}
	#tab_con > article{
		background-image:url('../images/mcon2_7.png');
		background-repeat: no-repeat;
		background-position:730px 150px;
		background-size:550px;
	}
	#tab_con > article > ul{
		width:650px;
		display:flex;
		position:relative; /* 부모요소 기준설정 */
		margin-top:30px;
    left:60px;
	}
	/* 탭메뉴 목록 */
	#tab_con ul li{
		margin-right:10px;
	}
	#tab_con ul li a{
		background:#222;
		color:#fff;
		font-size:16px;
		padding:10px 15px;
	}
	#tab_con ul li a:hover{
		text-decoration:none;
	}
	#tab_con .cont{
		position:absolute;
		left:0px;top:50px;
		display:none;
	}
	#tab_con .cont dt{
		font-size:24px;
    padding:16px 0px;
		font-weight:bold;
	}
	#tab_con .cont dd{
		font-size:14px;
		line-height:180%;
	}
	#tab_con .cont img{width:100%;}
	
/* 탭메뉴에 적용할 서식 */
	.t_on{background:#e34600 !important;}

#tab_con li:first-child .cont{display:block;}

/* 이벤트 슬라이드 서식 */
  #event{
    padding-bottom:100px;
    background:#ffff00;
  }
  #event .e_slide{
    width:1280px;height:320px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
  }
  .e_slide > h2{
    font-size:34px;
    font-weight:bold;
    padding-bottom:30px;
  }
  .e_slide i.fas{
    display:block;
    width:40px;line-height:236px;
    font-size:34px;
    text-align:center;
    position:absolute;bottom:0px;
    background:#fff;
    cursor:pointer;
  }
  .e_slide .fa-chevron-left{left:0px;}
  .e_slide .fa-chevron-right{right:0px;}

  .e_slide_wrap{
    width:1200px;
  }
  .e_slide_wrap > ul{
    display:flex;
    width:3600px;
    transform:translateX(40px);
  }
  .e_slide_wrap > ul > li{
    width:1200px;
    display:flex;
    text-align:left;
  }

  /* 갤러리 서식 */
  #gallery{
    width: 100%;
    background-color:#f36f21;
    padding:100px 0px;
  }
  #gallery > article{
    width:1280px;
    margin:0px auto;
  }
  #gallery > article > h2{
    color:#fff;
  }
  .girl {
    display: grid;
    grid-template-rows: 270px 270px 270px;
    padding: 20px;
    grid-gap: 20px;
    grid-template-areas:
      "g01 g03 g04"
      "g02 g03 g05"
      "g06 g07 g08";
  }

  figure {
    overflow: hidden;
  }

  figure:hover figcaption {
    transform: translate(0px, -84px);
  }

  .girl figcaption {
    height: 80px;
    background-color: #111111;
    position: relative;
    transition: 0.5s;
  }

  figcaption h6 {
    font-size: 20px;
    font-weight: bold;
    color: #f36f21;
    padding: 10px 0px 5px 20px;
  }

  figcaption p {
    font-size: 10px;
    color: #ffffff;
    padding: 5px 0px 0px 20px;
  }

  figcaption span {
    border: 1px solid #ffffff;
    font-size: 12px;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  .girl img {
    width: 100%;
  }

  .girl figure:first-child {			grid-area: g01;		}
  .girl figure:nth-child(2) {			grid-area: g02;		}
  .girl figure:nth-child(3) {			grid-area: g03;		}
  .girl figure:nth-child(4) {			grid-area: g04;		}
  .girl figure:nth-child(5) {			grid-area: g05;		}
  .girl figure:nth-child(6) {			grid-area: g06;		}
  .girl figure:nth-child(7) {			grid-area: g07;		}
  .girl figure:last-child {			grid-area: g08;		}

  #list{
    width:1280px;
    margin:0px auto;
    text-align:center;
    overflow:auto;
  }
  #list ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #list li{padding:15px 0px;}
  #list li img{display:block;float:left;}

  /* 더보기 버튼 서식 */
  .more_box{text-align:center;}
  .more_box > a{
    background-color:#fff;
    font-size:14px;
    padding:6px 20px;
    border-radius:10px;
  }


  /* top버튼 서식 */
  .t_btn{
    padding:20px 10px;
    border-radius:50%;
    color:#fff;
    background:#000;
    font-size:30px;
    position:fixed;
    right:100px;bottom:100px;
    display:none;
  }

  /* 세로스크롤값이 1200이상일때 header에 적용되는 서식 */

  .h_act{
    position:fixed !important;
    width:100%;
    top:0px;left:0px;
    background:#f36f21;
  }